<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ProjectAgriculturePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>edu.cdms.project.orm.Ascenter</class>
    <class>edu.cdms.project.orm.Admin</class>
    <class>edu.cdms.project.orm.District</class>
    <class>edu.cdms.project.orm.AdaZone</class>
    <class>edu.cdms.project.orm.Ds</class>
    <class>edu.cdms.project.orm.AiRange</class>
    <class>edu.cdms.project.orm.AiList</class>
    <class>edu.cdms.project.orm.Months</class>
    <class>edu.cdms.project.orm.Variety</class>
    <class>edu.cdms.project.orm.Majorpaddy</class>
    <class>edu.cdms.project.orm.Seasons</class>
    <class>edu.cdms.project.orm.AgeGroup</class>
    <class>edu.cdms.project.orm.Years</class>
    <class>edu.cdms.project.orm.Rainfedpaddy</class>
    <class>edu.cdms.project.orm.Minorpaddy</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/cdms?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="mysql"/>
    </properties>
  </persistence-unit>
</persistence>
